body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    height: 100vmin;
}




.box{
    font-size: xx-large ;
    font-weight: bolder;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border: none;
    margin: 5px;
    background-color: chartreuse;
    border-radius: 20%;
}
